html/dist/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Tinos:700&amp;subset=latin,vietnamese">
  </head>
  <body><!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <div id="featured">
      <article class="post">
        <div style="background-image: url(http://1anh.com/346/150/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD_4X_Yl10iB3Y4KI3-xSQaVWiyerI-MchR2nZFmvTUVo34juGZivHzCgMHUGuiKoOBMeT5atKeL5wk5wQmbYxKB)" class="cover"></div>
        <div class="post-content"><a href="detail.html" class="permalink"></a>
          <div class="post-summary"><a href="cat.html" class="post-cat">Công nghệ</a>
            <header>
              <h6 class="post-title">Hình ảnh thực tế BlackBerry Venice chạy Android</h6>
            </header>
            <footer><span class="date">hôm nay lúc 20:59</span></footer>
          </div>
        </div>
      </article>
      <article class="post">
        <div style="background-image: url(https://1anh.com/500/0/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD9w6Z5yOalN2wfRhSY7BEyn_-eP__s13jeVCR1b5TcnSV2uQMGv92UFXPvc-Xv3UfuhWUFl-y4EkVCPN95wgcxV)" class="cover"></div>
        <div class="post-content"><a href="detail.html" class="permalink"></a>
          <div class="post-summary"><a href="cat.html" class="post-cat">Đánh giá</a>
            <header>
              <h6 class="post-title">Trên tay Braven BRV-Pro: vỏ kim loại dày, nghe nhạc 15 tiếng</h6>
            </header>
            <footer><span class="date">hôm nay lúc 20:59    </span></footer>
          </div>
        </div>
      </article>
      <article class="post">
        <div style="background-image: url(https://photo.tinhte.vn/store/2015/09/3129925_swarm.gif)" class="cover"></div>
        <div class="post-content"><a href="detail.html" class="permalink"></a>
          <div class="post-summary"><a href="cat.html" class="post-cat">Video</a>
            <header>
              <h6 class="post-title">Xem anh chàng bay lên bằng drone tự chế có 54 cánh quạt</h6>
            </header>
            <footer><span class="date">hôm nay lúc 20:59    </span></footer>
          </div>
        </div>
      </article>
      <article class="post">
        <div style="background-image: url(https://1anh.com/500/0/EZYwYm5NdZIwlXo48tMBufykgNFiWK-L-tezFAefrD9KFeeWX2194K1H2aQ9KSkfK-2nf1Wqi6gpNa2PshqnR34juGZivHzCgMHUGuiKoOBMeT5atKeL5wk5wQmbYxKB)" class="cover"></div>
        <div class="post-content"><a href="detail.html" class="permalink"></a>
          <div class="post-summary"><a href="cat.html" class="post-cat">Du lịch</a>
            <header>
              <h6 class="post-title">Người trẻ nhất thế giới đã du lịch hết 198 quốc gia, 2 kỉ lục Guinness</h6>
            </header>
            <footer><span class="date">hôm nay lúc 20:59 </span></footer>
          </div>
        </div>
      </article>
    </div>
    <nav>
      <div class="inner"><a href="/" class="logo">
          <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 9 9" style="enable-background:new 0 0 9 9;" xml:space="preserve" width="24px" height="24px">
            <style type="text/css">.st0{fill:#FFFFFF;}</style>
            <path id="XMLID_63_" d="M0,0v9h9V0H0z M1.3,1.3h1.3v1.3H1.3V1.3z M7.7,2.6H6.4v1.3H5.1v1.3h1.3v1.3h1.3v1.3H6.4V6.4H5.1            V5.1H3.9v1.3H2.6v1.3H1.3V6.4h1.3V5.1h1.3V3.9h1.3V2.6h1.3V1.3h1.3V2.6z" class="st0"></path>
          </svg>Xiklo</a>
        <input id="nav" type="checkbox">
        <label for="nav"><span class="fa fa-bars"></span></label>
        <ul>
          <li><a href="/">Công nghệ</a></li>
          <li><a href="/">Đánh giá</a></li>
          <li><a href="/">Video</a></li>
          <li><a href="/">Du lịch  </a></li>
        </ul>
      </div>
    </nav>
    <section id="posts">
      <article class="post">
        <div class="post-content">
          <header>
            <div class="post-cat">Công nghệ</div><a href="detail.html">
              <h6 class="post-title">Hình ảnh thực tế BlackBerry Venice chạy Android</h6></a><span class="date">hôm nay lúc 20:59</span><span>&nbsp; &middot; &nbsp;</span><a href="#"><span class="fa fa-twitter-square"></span></a>&nbsp;<a href="#"><span class="fa fa-facebook-square"></span></a>&nbsp;<a href="#"><span class="fa fa-google-plus-square"></span></a>
          </header><a href="detail.html" class="cover"><img src="https://images.unsplash.com/photo-1431068799455-80bae0caf685?fit=crop&amp;fm=jpg&amp;h=800&amp;q=80&amp;w=1200"></a>
        </div>
        <div class="post-summary">
          <p>Đây là loại hình rò rỉ thực tế rõ nhất từ trước đến nay về chiếc BlackBerry Venice chạy Android, màn hình cong, có bàn phím cứng trượt ra. Qua hình ảnh ta cũng thấy được Vince là một chiếc điện thoại khá dày và to, có khe thẻ SIM và khe thẻ SD dạng slot cắp nên nhiều khả năng Venice được làm dạng nguyên khối không tháo ra được.</p>
          <p>Theo hình ảnh chụp sát camera thì chúng ta có Camera có cảm biến 18Mp, chống rung quang học và lấy nét nhanh (fast focus)... đọc đến đây là thấy phê rồi.</p>
        </div>
      </article>
      <article class="post">
        <div class="post-content">
          <header>
            <div class="post-cat">Google</div><a href="detail.html">
              <h6 class="post-title">Google Docs hỗ trợ nhập liệu bằng giọng nói, có Template, tích hợp Google Search...</h6></a><span class="date">hôm nay lúc 20:59</span><span>&nbsp; &middot; &nbsp;</span><a href="#"><span class="fa fa-twitter-square"></span></a>&nbsp;<a href="#"><span class="fa fa-facebook-square"></span></a>&nbsp;<a href="#"><span class="fa fa-google-plus-square"></span></a>
          </header>
        </div>
        <div class="post-summary">
          <p>Bộ ứng dụng Google Docs vừa được cập nhật thêm nhiều tính năng mới rất tuyệt vời: gõ văn bản bằng giọng nói, có chức năng Template để tạo mẫu văn bản rất đẹp, tích hợp khung tìm kiếm Google và chức năng Explore xem nhanh biểu đồ trong Sheets mà không cần tạo... Gõ văn bản bằng giọng nói Thay vì gõ bàn phím thì bạn nói, nói đến đâu thì Google Docs sẽ tự gõ văn bản ra đến đó, hỗ trợ đến 40 ngôn ngữ và...</p>
        </div>
      </article>
    </section>
    <section id="pagination">
      <div class="inner"><a href="#" class="prev disabled"><span class="fa fa-angle-left"></span><em>&nbsp; Bài mới hơn</em></a><a href="#" class="next"><em>Bài cũ hơn &nbsp; </em><span class="fa fa-angle-right"></span></a></div>
    </section>
    <footer class="footer">
      <p>Copyright</p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')</script>
  </body>
</html>

html/src/index.jade
//- index.jade
extends ./layouts/global.jade

block content
  section#posts
    article.post
      .post-content
        header
          .post-cat Công nghệ
          a(href="detail.html")
            h6.post-title Hình ảnh thực tế BlackBerry Venice chạy Android
          span.date hôm nay lúc 20:59
          span &nbsp; &middot; &nbsp;
          a(href="#")
            span.fa.fa-twitter-square
          | &nbsp;
          a(href="#")
            span.fa.fa-facebook-square
          | &nbsp;
          a(href="#")
            span.fa.fa-google-plus-square
        a.cover(href="detail.html")
          img(src="https://images.unsplash.com/photo-1431068799455-80bae0caf685?fit=crop&fm=jpg&h=800&q=80&w=1200")
      .post-summary
        p Đây là loại hình rò rỉ thực tế rõ nhất từ trước đến nay về chiếc BlackBerry Venice chạy Android, màn hình cong, có bàn phím cứng trượt ra. Qua hình ảnh ta cũng thấy được Vince là một chiếc điện thoại khá dày và to, có khe thẻ SIM và khe thẻ SD dạng slot cắp nên nhiều khả năng Venice được làm dạng nguyên khối không tháo ra được.
        p Theo hình ảnh chụp sát camera thì chúng ta có Camera có cảm biến 18Mp, chống rung quang học và lấy nét nhanh (fast focus)... đọc đến đây là thấy phê rồi.
    article.post
      .post-content
        header
          .post-cat Google
          a(href="detail.html")
            h6.post-title Google Docs hỗ trợ nhập liệu bằng giọng nói, có Template, tích hợp Google Search...
          span.date hôm nay lúc 20:59
          span &nbsp; &middot; &nbsp;
          a(href="#")
            span.fa.fa-twitter-square
          | &nbsp;
          a(href="#")
            span.fa.fa-facebook-square
          | &nbsp;
          a(href="#")
            span.fa.fa-google-plus-square
      .post-summary
        p Bộ ứng dụng Google Docs vừa được cập nhật thêm nhiều tính năng mới rất tuyệt vời: gõ văn bản bằng giọng nói, có chức năng Template để tạo mẫu văn bản rất đẹp, tích hợp khung tìm kiếm Google và chức năng Explore xem nhanh biểu đồ trong Sheets mà không cần tạo... Gõ văn bản bằng giọng nói Thay vì gõ bàn phím thì bạn nói, nói đến đâu thì Google Docs sẽ tự gõ văn bản ra đến đó, hỗ trợ đến 40 ngôn ngữ và...
        
  section#pagination
    .inner
      a.prev.disabled(href='#')
        span.fa.fa-angle-left
        em &nbsp; Bài mới hơn
      a.next(href='#') 
        em Bài cũ hơn &nbsp; 
        span.fa.fa-angle-right
